.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: map-get($color, 'bg-primal');
  background-color: map-get($color, 'accent');

  border: none;
  border-radius: 4px;

  @include transition(background-color);

  &:focus,
  &:hover {
    background-color: map-get($color, 'button');
  }
}

.button--shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
}
