.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

// .clients-list__item:not(:last-child) {
//   margin-right: 30px;
// }

.clients-list__link {
  display: flex;
  width: 100%;
  height: 92px;
  color: map-get($color, 'primary-icon');
  border: 1px solid map-get($color, 'primary-icon');
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  @include transition(color);
  @include transition(border-color);

  &:hover,
  &:focus {
    color: map-get($color, 'accent');
    border-color: map-get($color, 'accent');
  }
}

.clients-list__icon {
  fill: currentColor;
}
