.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}

.filter-button-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  display: inline-block;
  color: map-get($color, 'title');
  background-color: #f5f4fa;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  @include transition(color);
  @include transition(background-color);
  @include transition(box-shadow);

  &:hover,
  &:focus {
    color: map-get($color, 'bg-primal');
    background-color: map-get($color, 'accent');
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
