.hero {
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  @include bg-image(url(../images/hero_mobile.jpg));
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    @include bg-image(url(../images/hero_mobile@2x.jpg));
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;

  text-align: center;

  @media screen and (min-width: 481px) {
    max-width: 960px;
    @include bg-image(url(../images/hero_tablet.jpg));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include bg-image(url(../images/hero_tablet@2x.jpg));
    }
  }

  @media screen and (min-width: 961px) {
    max-width: 1200px;
    @include bg-image(url(../images/hero_desktop.jpg));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include bg-image(url(../images/hero_desktop@2x.jpg));
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: map-get($color, 'bg-primal');

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
