.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--without-padding {
  padding-top: 0;
}

.section--bg-color {
  background: #f5f4fa;
}

.section--hidden {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section__title {
  margin-bottom: 30px;

  color: map-get($color, 'title');
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
