.team-list {
  display: flex;
}

.team-list__item {
  background: map-get($color, 'bg-primal');

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__footer {
  padding: 30px 32px;
  text-align: center;
}

.team-list__img {
  display: block;
}

.team-list__title {
  margin-bottom: 10px;

  color: map-get($color, 'title');

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-list__socials {
  display: flex;
}

.team-list__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-list__socials-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  color: map-get($color, 'primary-icon');

  @include transition(color);
  @include transition(background-color);

  &:focus,
  &:hover {
    color: map-get($color, 'bg-primal');
    background-color: map-get($color, 'accent');
  }
}

.team-list__socials-icon {
  fill: currentColor;
}
