.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: map-get($color, 'bg-secondary');
}

.page-footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__box:not(:last-child) {
    margin-right: 70px;
  }
}
